h1 {
  font-size: 38px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;

  align-items: center;
  line-height: 59px;

  padding: 0 64px;
  margin: 0;
}

h3 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 20;
  align-items: right;
  line-height: 65px;
  text-align: center;
  padding: 0 64px;
  margin: 0;
}
nav {
  font-family: "Montserrat", sans-serif;
  line-height: 45px;
}

.stopwatch {
  display: grid;
  justify-items: center;
  grid-row-gap: 23px;
  width: 100%;
  padding-top: 25px;
}


.time {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 22px;
  
}

.gold {
  font-weight: 900;

  color: #f2c94c;
  text-shadow: 0 0 0px #fff, 0 0 50px #f2c94c;
}

.controls {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

button {
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: none;
  margin: 0;
  outline: none;
}

#playButton {
  display: block;
  width: 35px;
  height: 30px;
}

#pauseButton {
  display: none;
  width: 35px;
  height: 30px;
}
#resetButton {
  border-color: #E8E8E8;
  display: block;
  width: 35px;
  height: 30px;
}