<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/components :: header"></head>
<link rel="stylesheet" href="/css/stopwatch.css" />
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
<nav th:insert="fragments/components :: navbar"></nav>

  
<div th:switch="${uebungen}">
        <div th:case="*">
            <table class = "table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Gewicht</th>
                        <th scope="col">Wiederholung</th>
        				<th scope="col"><div class="controls">
				        <button class="buttonPlay">
				        <img id="playButton" src="https://i.ibb.co/3M4wcn0/play-Button.png" />
						<img id="pauseButton" src="https://i.ibb.co/c3V5pz1/pause-Button.png" />
				        </button>
				        <button class="buttonReset">
				        <img id="resetButton" src="https://i.ibb.co/wJ3kQkH/stop-Button.png"/>
				        </button>
				        <script src="/js/stopwatch.js"></script>
				        </div></th>
				        <th scope="col"> <span class="time" id="display">00:00:00</span></th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="uebung : ${uebungen}">
                    <td th:text="${uebung.name}"></td>
                    <td th:text="${uebung.gewicht}"></td>
                    <td th:text="${uebung.wiederholung}"></td>
                    <td><a th:href="@{/edit/uebung/{id}(id=${uebung.id})}" class ="btn btn-secondary btn-sm" style ="background-color:#694949;" >Edit</a></td>
                    <td><a th:href="@{/delete/uebung/{id}(id=${uebung.id})}" class ="btn btn-secondary btn-sm" style ="background-color:#694949;">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>      
     <a th:href ="@{/showLabel/{id}(id=${tag.id})}" class ="btn btn-secondary btn-sm" style ="background-color:#694949;">Add</a>
</div>
</html>